:root {
  --fundo: rgba(250, 115, 30, 0.4); /* Corrigi a variável */
  --cor-primaria: #FA731E; /* Cor primária para botões */
  --cor-secundaria: purple; /* Cor de fundo do footer */
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  line-height: 1.22; /* Usar unidade relativa para altura de linha */
  margin: 5px;
  overflow-x: hidden;
}

img{
  width: 80%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Para melhor controle do box model */
}
a{
  text-decoration: none;
}
button{
  text-decoration: none; /* Remove a decoração do texto */
  border: 0px;
}
ul,
ol {
  list-style: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o preenchimento padrão */
  margin: 0; /* Remove a margem padrão */
}


header, .main-inicio {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between; /* Melhor organização */
}

.logo-header {
  width: 20%;
}

.links-nav {
  display: flex;
  justify-content: space-around; /* Melhor espaçamento */
  width: 40%;
}

.botoes {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

button {
    background-color: var(--cor-primaria);
  border-radius: 20px;
  padding: 7px 15px; /* Mais espaçamento */
  font-family: inherit; /* Mantém a fonte do body */
  cursor: pointer; /* Muda o cursor para indicar que é um botão */
}

.main-inicio {
  padding-top: 2%;
  height: 100vh;
  background-color: var(--fundo);
  display: flex;
  flex-wrap: wrap; /* Permite que os filhos quebrem para a próxima linha */
}

.col-1, .col-2 {
  width: 50%;
  height: 100%;
}

.linha-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.texto {
  width: 50%;
  padding: 2%;
  display: flex;
  align-items: flex-end; /* Mais claro que end */
}

.iframe {
  width: 50%;
  height: 100%; /* Para preencher a altura do container */
}

footer {
  background-color: var(--cor-secundaria);
  text-align: center;
  padding: 20px 0; /* Adiciona espaço ao redor do conteúdo */
}

.col-2{
  display: grid;
  grid-template-rows: 40% 40%;

}
.linha-1-col-2{
  width: 80%;
grid-area: 1/3;
display: grid;
justify-content: space-evenly;
}
.linha-2-col-2{
  grid-area: 2/3; 
  display: flex;
  flex-wrap: wrap;
}

.botao-iniciarjornada{
  width: 30%;
  height: 55%;
}
.main-comofunciona{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-boneca{
  width: 50%;
}
.texto-parte2{
  width: 50%;
}

.logo{
  width: 20%;
  height: 26%;
  display: grid;
  grid-column: 1; /* Coloca a imagem na primeira coluna */
  align-self: start; /* Alinha a imagem ao início da coluna */
  align-items: center;
  }


  .container {
    width: 60%;
    height: 65%;
    display: flex;   
    align-items: center; /* Centraliza a imagem verticalmente */
  }
  
  
  .image {
    margin-right: auto; /* Garante que a imagem fique no lado esquerdo */
  }