<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/CSS/senhae.css" />
</head>

<body>
  <div>
    <div>
      <div style="width: 0%;">
        <a href="./index" style="text-decoration: none; color: black; cursor: pointer;">
          <h1 id="logo">ensin<span id="ai">aí</span></h1>
        </a>
      </div>
      <main>
        <div class="container">
          <div class="container1">
            <div>
              <p id="p1">
                Esqueceu a senha? Entre em contato com a empresa ou
                insituição
              </p>
            </div>
            <div>
              <p id="p2">
                Eles vão criar uma nova senha para você e assim você poderá
                acessar a plataforma :)
              </p>
            </div>
            <div class="input-container">
              <span class="icon">
                <!-- Referência à imagem dentro de assets/IMG -->
                <img src="/IMG/bmfGnbo.png" alt="ícone" />
              </span>
              <input type="text" class="login" placeholder="E-mail" />
            </div>
            <a href="/index"> <button style="color: white; cursor: pointer;">Volta pro Inicio</button></a>

          </div>
          <div>
            <img src="/IMG/QNcsDIc.png" id="img1" />
          </div>
        </div>
      </main>
    </div>
  </div>
</body>

</html>