body{
    display: block;
    max-width: 1360px;
    margin: 0 auto;
    
}

.main-certificados{
    display: flex;
    gap: 3.8rem;  
    padding: 4rem;
}

/* Menu */

aside{
    background-color: #FF8E47;
    display: flex;
    width: 280px;
    height: 92vh;
    border-radius: 1.8rem;
}

aside > div{
    width: 92.7rem;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

nav .content ul{
    margin: 3.5rem 0;
}

nav .content ul li a{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}

nav .content ul li a> img{
    margin-right: .8rem;
}

nav .content ul li:not(:last-child){
    margin-bottom: 1rem;
}

nav .content ul li:last-child > h2{
    font-size: 1.8rem;
    color: white;
    font-weight: 400;

}

aside > nav > .content ul li a img{
    width: 3.2rem;
    border-radius: 50px;
}

aside > nav > .content ul li h2{
    margin-bottom: 1.4rem;
}

.setting ul li a{
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.setting ul li a img{
    margin-right: .8rem;
}

.setting ul li:not(:last-child){
    margin-bottom: 1rem;
}

/* Busca */

article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article input{
    outline: none;
    border:none;
    padding: 1.2rem 3.3rem;
    border-radius: 132px;
    color: #090830;
    width: 63rem;
    height: 5rem;
}

article input::placeholder{
    color: #090830;
}

article div{
    display: flex;
}

article div > button{
    background: none;
    padding: 0;
    margin-left: -4rem;
    font-size: 1.4rem;
    max-height: 5rem;
}

article button{
    background: none;
    display: flex;
    align-items: center;
}

article .notificacoes img{
    background-color: #FFDAC3;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 1rem;
}

/* Meu perfil */

.meu-perfil{
    margin-top: 2.8rem;
}

.meu-perfil h1{
    font-size: 3.2rem;
    color: #090830;
    line-height: 2.6rem;
    margin-bottom: 2.8rem;
    font-weight: 400;
}

.profile{
    display: flex;
}

.profile img{
    border-radius: 50%;
    object-fit: cover;
    background-color: #FFF1E9;
    padding: 2rem;
}

.profile div{
    margin-left: 2.9rem;
    max-width: 420px;
}

.profile span{
    font-size: 2rem;
    line-height: 2.6rem;
    color: #090830;
    margin-bottom: .3rem;
    font-weight: 600;
}

.profile p{
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #090830;
    margin-bottom: 1rem;
}

.profile a img{
    background: none;
    padding: 0;
    margin-right: 1rem;
}

.profile a{
    font-size: 1.4rem;
    line-height: 2.6rem;
    display: flex;
    align-items: center;
}

/*  Dashboard */

.dashboard-certificados{
    margin-top: 2.8rem;
}

.dashboard-certificados .widget{
    width: 92.7rem;
}

.dashboard-certificados .graphs{
    background-color: #FF8E47;
    width: 8.2rem;
}

.dashboard-certificados .activy-border{
    width: 100%;
}

.dashboard-certificados .activy-header{
    width: 100%;
}

.dashboard-certificados .graph-wrapper{
    padding-bottom: 1.5rem;
}

/* Certificados Slide */

.certificados{
    margin-top: 2.5rem;
    display: flex;
}

.certificados ul{
    display: flex;
}

.certificados .content{
    display: flex;
    flex-direction: column;
}

.certificados .card{
    max-width: 29.6rem;
    border: #FF8E47 2px solid;
    border-radius: 1.9rem;
}

.certificados .card > .content{
    font-size: 2rem;
    line-height: 2.6rem;
    background-color: #FF8E47;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2.7rem;
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
    max-height: 18.5rem;

}

.certificados .splide-track .card .content h3{
    color: #FFF;
    font-weight: 400;
    margin-bottom: 4.4rem;
}

.certificados .card .content div p{
    font-size: 1.4rem;
    color: #fff;
    margin-left: .9rem;
}

.certificados .card .content div{
    display: flex;
    align-items: center;
}

.certificados .card .content div span{
    background-color: #090830;
    color: #fff;
    padding: .8rem 2.5rem;
    border-radius: 47px;
    font-size: 1.4rem;

}

.certificados .card .content div p{
    font-size: 1.4rem;
    color: #fff;
    margin-left: .9rem;
}

.certificados .card a{
    font-size: 1.4rem;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    color: #FF8E47;
    width: 100%;
}

.certificados .arrow{
    display: flex;
    align-items: flex-end;
}

.certificados .arrow > img{
    background-color: #090830;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
}

.certificados .arrow img:first-child{
    margin-right: 1.2rem;
}

.certificados .arrow img.desable{
    background-color: #0908307d;
} 

.certificados ul li:not(:last-child){
    margin-right: 2rem;
}