* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  max-height: 100vw !important;
  width: 100%;
  margin: 0;
  overflow-x: hidden !important;
  padding: 0;
  font-family: "Instrument Sans";
  overflow: hidden;
  background: #fff;
  position: relative;
  caret-color: transparent;
  display: flex;
}

.container-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-perfil {
  display: flex;
  width: 280px;
  background-color: orange;
  height: 47vw;
  margin: 20px;
  padding: 10px;
  border-radius: 18px;
  justify-content: space-between;
  flex-direction: column;
}

.perfil {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 8px;
}
.perfil2 {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
}

.perfil a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;
  width: auto;
}

.perfil a img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 70%;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.content-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.widget {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.conteinerHeader {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DashHeader {
  padding: 130px 50px 0px;
}

.search-conteiner {
  color: black;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-conteiner {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  caret-color: auto;
  flex-direction: row-reverse;
}

.search {
  box-sizing: border-box;
  flex-direction: column;
  width: 830px;
  height: 60px;
  background: #fff1e9;
  border: 1px solid #090830;
  border-radius: 51px;
  padding: 10px 10px 10px 40px;
}

.icon {
  position: absolute;
  right: 20px;
}
.noti {
  display: flex;
  align-items: center;
  gap: 10px;
}
