* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 1368px;
  margin: 0 auto;
  overflow-x: hidden !important;
  padding: 0;
  font-family: "Instrument Sans";
  overflow: hidden;
  background: #fff;
  position: relative;
  caret-color: transparent;
  display: flex;
  padding-top: 2rem;
}

.head-mobile {
  display: none;
}

.container-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}




.DashHeader {
  padding: 2rem
}


.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 70%;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.content-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1.2rem;
  width: 100%;
}

.widget {
  border: 25px solid #fff1e9;
  border-radius: 34px;
  width: calc(100% - 20px);
}



.activy-border {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.conteinerHeader {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 20px;
}

.activy-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.activy-header h3 {
  padding-left: 20px;
  padding-top: 3px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.activy-header p {
  padding-top: 10px;
  padding-right: 50px;
}

.activy-header img {
  padding-right: 20px;
  padding-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  margin-top: 3px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  background-color: #fff;
}

.dropdown-btn .arrow {
  margin-left: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #ddd;
}

.dropdown.show .dropdown-content {
  display: block;
}

.time-container {
  display: flex;
  flex-wrap: wrap;
  height: 164px;
  width: 1px;
  background-color: #FF8E47;
  margin-left: 20px;
}

.number-container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #ff8e47;
  line-height: 26px;
  margin-left: 6px;
  gap: 10px;
}

#week-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 20px;
}



#graphs-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2.5rem;
  padding-left: 3rem;
  padding-right: 2rem;
  justify-content: center;
  height: 164px;
}

.graph-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  position: relative;
}

.graphs {
  width: 49px;
  background-color: #FF8E47;
  border-radius: 8px;
  height: 0;
  transform: translateY(28px);
}


.graph-wrapper:nth-child(1) .graphs {
  animation: expand 2s ease-out forwards;
}

.graph-wrapper:nth-child(2) .graphs {
  animation: expand 2s ease-out forwards;
}

.graph-wrapper:nth-child(3) .graphs {
  animation: expand 2s ease-out forwards;
}


.graph-wrapper:nth-child(4) .graphs {
  animation: expand 2s ease-out forwards;
}

.graph-wrapper:nth-child(5) .graphs {
  animation: expand 2s ease-out forwards;
}

.graph-wrapper:nth-child(6) .graphs {
  animation: expand 2s ease-out forwards;
}

.graph-wrapper:nth-child(7) .graphs {
  animation: expand 2s ease-out forwards;
}


.graph-wrapper p {
  margin-top: 10px;
  transform: translateY(20px);
  text-align: center;
  font-size: 14px;
}

/* calendario */

.widget2 {
  height: 280px;
  width: 50%;
  border-radius: 18px;
}

.wrapper {
  width: 37.4rem;
  background: #fff;
  border: 1px solid #FF8E47;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 15px 20px 5px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
}

header .icons {
  display: flex;
}

header .icons span {
  height: 38px;
  width: 28px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 10px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 22px;
}

.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.57rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 21px;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #ff8e47;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}

#widget3-1,
#widget3-2 {
  width: calc(50% - 20px);
  height: 220px;
  border: 25px solid #fff1e9;
  border-radius: 18px;
  background-color: #fff1e9;
  gap: 20px;
}

.widget3-container {
  display: flex;
  margin-top: 10px;
}

#widget3-1 h1 {
  font-size: 20px;
}

#widget3-2 h1 {
  font-size: 20px;
}

.widget3-container p {
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.widget3-container input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #FF8E47;
  display: inline-block;
  position: relative;
  transition: background-color 0.3s ease;
}

.widget3-container input[type="checkbox"]:checked {
  background-color: #eee;
}

.widget3-container input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #FF8E47;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar {
  width: 231px;
  height: 9px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 4px;
}


.progress-bar .progress {
  height: 100%;
  background-color: #ff8e47;
  width: 0;
}


.widget3-container2:nth-child(2) .progress {
  width: 60%;
  animation: expandProgress 2s ease-out forwards;
}

.widget3-container2:nth-child(3) .progress {
  width: 80%;
  animation: expandProgress 2s ease-out forwards;
}


.widget3-container2:nth-child(4) .progress {
  width: 40%;
  animation: expandProgress 2s ease-out forwards;
}


.widget4-square {
  background-color: #FFDAC3;
  border-radius: 5px;
  width: 70px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px
}

.widget4-square p {
  font-size: 20px;
  color: #FF8E47;
  font-weight: 700;

}

.container-widget3-4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.widget3-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.widget3-container2 {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.widget3-container2 img {
  width: 18.4px;
  height: 18.57px;
}



.widget3-container2 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 231px;
  font-size: 13px;
  padding-top: 2px;
}

.widget4 {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

.widget4 h1 {
  font-size: 20px;
}

.widget4-header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 20px);
}

.widget5 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text-block1 {
  width: 453px;
  height: 149px;
  background-color: #fff1e9;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  align-items: center;
  position: relative;
  overflow: visible;
}

.text-container1 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

.text-container1 h1 {
  font-size: 20px;
  line-height: 26px;
}

.text-container2 p {
  font-size: 14px;
  line-height: 19px;
}

.text-block1 img {
  height: 122px;
  width: 132px;
  position: relative;
  left: 35px;
  float: left;

}

.text-block2 {
  width: 453px;
  height: 149px;
  background-color: #ff8e47b3;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: 16px;
  align-items: center;
  position: relative;
  overflow: visible;
}

.text-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  position: relative;
  right: 35px;
  max-width: 300px;
}

.text-block2 img {
  width: 130px;
  height: 109px;
  position: relative;
  top: 38px;
  float: left;
  margin-right: 10px;
  width: 150px;
}

.text-container2 h1 {
  font-size: 20px;
  line-height: 26px;
}

.text-container2 p {
  font-size: 14px;
  line-height: 19px;
}

.text-block3 {
  width: 453px;
  height: 149px;
  background-color: #ff8e47;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  align-items: center;
  position: relative;
  overflow: visible;
}

.text-container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.text-container3 h1 {
  font-size: 20px;
  line-height: 26px;
}

.text-container3 p {
  font-size: 14px;
  line-height: 19px;
}

.text-block3 img {
  width: 210px;
  height: 157px;
}

.widget4-container {
  display: flex;
  align-items: center;
  height: 88px;
  background-color: #fff1e9;
  border: 0px solid #fff1e9;
  border-radius: 18px;
  margin-top: 10px;
  gap: 8px
}

.widget4-container img {
  width: 62px;
  height: 62px;
  margin-left: 20px;
}

.mb {
  padding-right: 20px;
}

.widget4-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 20px);
}




@media (max-width: 479px) {
  .container-perfil {
    display: none;
  }

  html,
  body {
    max-height: none;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans";
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

  }

  .container-main {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 927px;
    padding-bottom: 68px;
    height: auto;
  }

  .content-area {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0px;
  }

  .widget,
  .widget2,
  .widget4,
  .widget5,
  .text-block1,
  .text-block2,
  .text-block3,
  #widget3-1,
  #widget3-2,
  .container-widget3-4 {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .widget {
    border: none;
  }

  .widget3-container2 p {
    width: 300px;
  }

  .progress-bar {
    width: 314px;
  }

  .activy-container {
    display: flex;
    justify-content: space-between;
    height: 238px;
    margin-right: 17px;
  }

  .time-container {
    margin: 0px;
  }

  #graphs-container {
    gap: 16px;
    padding-left: 7px;
    margin-left: 24px;
  }

  .graph-wrapper:nth-child(1) .graphs {
    width: 31px;
  }

  .graph-wrapper:nth-child(2) .graphs {
    width: 31px;
  }

  .graph-wrapper:nth-child(3) .graphs {
    width: 31px;
  }


  .graph-wrapper:nth-child(4) .graphs {
    width: 31px;
  }

  .graph-wrapper:nth-child(5) .graphs {
    width: 31px;
  }

  .graph-wrapper:nth-child(6) .graphs {
    width: 31px;
  }

  .graph-wrapper:nth-child(7) .graphs {
    width: 31px;
  }

  .wrapper {
    width: auto;
  }

  .search {
    width: 100%;
  }

  .search-conteiner {
    display: block;
    padding-right: 20px;
  }

  .noti {
    display: none;
  }

  .widget4 {
    padding-bottom: 0px;
  }


  .head-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #FF8E47;
    width: 100%;
    height: 70px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;

  }



  .widget2 {
    display: none;
  }

  .text-block1 img {
    left: 0px
  }

}



@keyframes expandProgress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}


@keyframes expand {
  0% {
    height: 0;
  }

  100% {
    height: var(--target-height);
  }
}