@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Press+Start+2P&display=swap");

html,
body {
  max-height: 100vw;
  width: 100%;
  overflow-x: hidden !important;
  font-family: "Instrument Sans";
  background: linear-gradient(to right, white 50%, #9ec6ee 50%);
  margin: 0;
  padding: 0;
  z-index: -1;
}

#logo {
  width: 160px;
  height: 62px;
  margin-top: 44px;
  margin-left: 150px;
  font-family: "AirbnbCereal_W_Bd", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 62.5px;
  text-align: left;
  animation: fadeRight 1s ease forwards;
}

#p1 {
  width: 404px;
  height: 62px;
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #090830;
}

#p2 {
  width: 481px;
  font-family: "Instrument Sans";
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  color: #090830;
  padding-top: 6px;
}

.login {
  box-sizing: border-box;
  flex-direction: column;
  width: 324px;
  height: 56px;
  background: rgba(9, 8, 48, 0.08);
  border: 1px solid #090830;
  border-radius: 51px;
  padding: 10px 10px 10px 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
  width: 100%;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 420px;
  animation: fadeRight 1s ease forwards;
}

.container2 {
  display: flex;
  flex-direction: column;
}

#ai {
  color: #a5e1fd;
}

#img1 {
  width: 658px;
  height: 658px;
  z-index: 10;
  animation: fadeLeft 1s ease forwards;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container .icon {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
}

.input-container .icon img {
  width: 20px;
  height: 20px;
}

.container2 .ou {
  margin-bottom: 5px;
  font-weight: bold;
}

.container2 .forgot-password {
  text-decoration: underline;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}

.click {
  cursor: pointer;
}

button {
  margin-top: 20px;
  width: 324px;
  height: 56px;
  background: #055fcf;
  border-radius: 70px;
  background: #055fcf;
  border-radius: 70px;
  font-size: 18px;
  color: white;
}

@media (min-width: 760px) and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 93vw;
    padding: 0 2rem;
    padding-top: 4rem;
  }
}

@media (min-width: 480px) and (max-width: 759px) {
  main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
    padding: 0 1.2rem;
    padding-top: 6rem;
  }
}

@media (max-width: 479px) {

  html,
  body {
    background: none;
    width: 100%;
    font-family: "Instrument Sans";
    max-height: none;
    overflow: hidden !important;
  }



  #logo {
    width: 160px;
    height: 62px;
    margin-top: 44px;
    margin-left: 30px;
    font-family: "AirbnbCereal_W_Bd";
    font-size: 48px;
    font-weight: 700;
    line-height: 62.5px;
    text-align: left;

  }

  #p1 {
    width: 360px;
    height: 62px;
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #090830;
  }

  #p2 {
    width: 390px;
  }

  #termo {
    font-size: 13px;
  }

  .img-icon {
    width: 10px;
    height: 10px;
    display: flex;
  }

  main {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
    align-items: center;
    padding: 0 0.5rem;
    padding-top: 3rem;
  }

  #img1 {
    display: none;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
  }

  .container1 {
    gap: 1.4rem;
    padding-left: 40px;
  }

  .container2 .forgot-password {
    padding-left: 0px;
  }
}



@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}