body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background-color: #e66f2679;
}

body::-webkit-scrollbar-thumb {
    background-color: orange;
}

* {
    scrollbar-color: #055fcf transparent;
    scrollbar-width: thin;
}

/* Menu */

.head-mobile {
    display: none;
}

aside {
    position: sticky;
    background-color: #055fcf;
    display: flex;
    height: 92vh;
    border-radius: 1.8rem;
}

aside>div {
    width: 92.7rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

nav .content ul {
    margin: 3.5rem 0;
}

nav .content ul li a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}

nav .content ul li a>img {
    margin-right: .8rem;
}

nav .content ul li:not(:last-child) {
    margin-bottom: 1rem;
}

nav .content ul li:last-child>h2 {
    font-size: 1.8rem;
    color: white;
    font-weight: 400;

}

aside>nav>.content ul li a img {
    width: 3.2rem;
    border-radius: 50px;
}

aside>nav>.content ul li h2 {
    margin-bottom: 1.4rem;
}

.setting ul li a {
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.setting ul li a img {
    margin-right: .8rem;
}

.setting ul li:not(:last-child) {
    margin-bottom: 1rem;
}

ul,
ol {
    list-style: none;
}

/* Busca */

article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article input {
    outline: none;
    border: none;
    padding: 1.2rem 3.3rem;
    border-radius: 132px;
    color: #090830;
    width: 63rem;
    height: 5rem;
}

article input::placeholder {
    color: #090830;
}

article div {
    display: flex;
}

article div>button {
    background: none;
    padding: 0;
    max-height: 5rem;
    margin-left: -5rem;
}

article button {
    background: none;
    display: flex;
    align-items: center;
}

article .notifications {
    position: relative;
}

article .notifications .notifications-button span {
    margin-left: -4rem;
    font-size: 1.4rem;
}

article .notifications .notifications-button img {
    background-color: #d9edfa;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 1rem;
}

article .notifications .notifications-content {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 270px;
    max-height: 0;
    overflow: hidden;
    border: 1px solid #055fcf;
    background: #fff;
    border-radius: 2rem;
    opacity: 0;
    padding: 1.5rem;
    margin-top: 2rem;
    transition: .3s ease;
    z-index: 2;

}

.sumir {
    margin: 0;
    padding: 0;
}

article .notifications .notifications-content .content::-webkit-scrollbar {
    width: 9px;
}

article .notifications .notifications-content .content::-webkit-scrollbar-track {
    background: #fff;
    border: 1px solid #090830;
    border-radius: 20px;
}

article .notifications .notifications-content .content::-webkit-scrollbar-thumb {
    background: #090830;
    border-radius: 20px;
}

article .notifications .notifications-content.open {
    max-height: 35vh;
    opacity: 1;
}

article .notifications .notifications-content .content {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: scroll;
    border-radius: 1.85rem;
    width: 100%;
}

article .notifications .notifications-content .content .notification {
    display: flex;
    gap: .9rem;
    padding: 1.3rem;
}

article .notifications .notifications-content .content li:not(:last-child) {
    border-bottom: 1px solid #090830;
}

article .notifications .notifications-content .content .notification.notread {
    background: #09083033;
}

article .notifications .notifications-content .content .notification {
    display: flex;
    gap: .9rem;
    padding: 2rem;
}

article .notifications .notifications-content .content .notification .notification-icon {
    width: 3.2rem;
}

article .notifications .notifications-content .content .notification p {
    font-size: 1.2rem;
    color: #090830;
    max-width: 132px;
}

article .notifications .notifications-content .content .notification span {
    display: block;
    color: #055fcf;
    font-size: .8rem;
}



@media (max-width: 479px) {
    aside {
        display: none;
    }

    .head-mobile {
        display: flex;
        justify-content: space-between;
        background-color: #055fcf;
        width: 100%;
        height: 70px;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;

    }

    .bottom-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #ffe3d1;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        border-radius: 10%;
    }



    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: transform 0.6s ease;
        cursor: pointer;
    }

    .circle-container {
        position: relative;
        width: 60px;
        height: 60px;
        transition: transform 0.6s ease;
    }

    .outer-circle {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .inner-circle {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #055fcf;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .nav-icon {
        width: 20px;
        height: 20px;
    }

    .nav-item.active .outer-circle {
        opacity: 1;
        transform: translateY(-10px);
        width: 60px;
        height: 60px;
        background-color: white;
        opacity: 1;
        transition: opacity 0.3s ease, transform 0.6s ease;
    }

    .nav-item.active .circle-container {
        transform: translateY(-10px);
    }

    article:nth-of-type(2) {
        display: none !important;
    }

    .sumir {
        display: none;
    }

    article .notifications .notifications-button img {
        padding: 1rem;
        border-radius: 50%;
        margin-left: 1rem;
    }

    article {
        width: 2rem;
    }

    article .notifications {
        margin-left: none;
    }
}