/*  Módulo listagem de aulas */

.listagem-content{
    margin: 2.6rem 0;
}

.listagem-banner ul{
    margin: 2.5rem 0 4rem 0;
    display: flex;
}

.listagem-banner ul li img{
    background-color: #FF8E47;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.listagem-banner ul li{
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #090830;
    display: flex;
    align-items: center;
    max-width: 20rem;
}

.listagem-banner ul li:first-child{
    margin-right: 2.8rem;
}

.listagem h2{
    color: #090830;
    font-size: 3.2rem;
    line-height: 2.6rem;
    font-weight: 300;
}

.listagem-card{
    margin-top: 2.8rem;
    border-radius: 18px;
    background-color: #fff;
    border: #FFF1E9 20px solid;
    display: flex;
    align-items: center;
    padding: 2rem;
    
}

.listagem-text{
 font-size: 2rem;
 color: #090830;
 line-height: 2.6rem;
    
}

.listagem-text h3{
    line-height: 2.6rem;
    margin-bottom: .3rem;
}

.listagem-text p{
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 500;
    max-width: 29.5rem;
    margin-bottom: 1.6rem;
}

.listagem-card img{
    margin-right: 2rem;
}

.listagem-status span{
    background-color: #FF8E47;
    padding: .8rem 2rem;
    color: #090830;
    font-size: 1.4rem;
    border-radius: 47px;
    font-weight: 600;
}

.listagem-status .feito{
    background-color: #34C759;
}

.listagem-status .fazer{
    background-color: #FFCC00;
}